/*? Resets */
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/*? Variaveis */

:root {
    --main-color: #151B21;
    --main-text-color: #fff;
    --border-color: #999;
    --bio-bg-color: #1e2a3a;
    --bio-border-color: #293544;
    --about-bg-color: #151B21;
    --aux: #1e90ff;
}

.cor {
    color: var(--aux);
}

/*? General */

body {
    background-color: #151B21;
}

/*? Containers */
#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color)
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--main-color);
    text-align: center;
    padding: 2rem 0.8rem;
    border-right: 5px solid var(--bio-border-color);
}

#about-container {
    flex: 1 1 80%;
    height: auto;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 50px;
}

#bio-container h2 {
    margin-bottom: 2rem;
}

#bio-container p {
    margin-bottom: 2rem;
}

.bold {
    font-weight: bold;
}

#img-profile {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}


#social-container li {
    flex: 1 1 0;
    max-width: 4rem;
}

#social-container li a {
    color: var(--main-text-color);
    font-size: 2rem;
}

#socialMedia {
    width: 2rem;
    height: 2rem;
    ;
}

#email-container {
    display: flex;
    justify-content: center;
}

#email-container ion-icon,
#email-container a {
    flex: 1 1 0;
}

#email-container a {
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 14rem;
}

#email-container ion-icon {
    color: var(--main-text-color);
    font-size: 1.5rem;
    margin-right: 0.4rem;
    max-width: 1.8rem;
}

/* Container */

#name {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

#title {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 1rem;
    font-weight: bold;
}

.description {
    max-width: 75%;
    margin-bottom: 1rem;
}


#btn-project {
    font-weight: bold;
    font-size: 1rem;
    color: var(--main-text-color);
    background-color: var(--aux);
    border: 2px solid var(--aux);
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
    margin: 25px 0;
    padding: 1rem 0.8rem;
    width: 8rem;
    text-align: center;
    display: flex;
}

#btn-project ion-icon,
#btn-project span {
    flex: 1 1 0;
}

#btn-tag1 {
    text-decoration: none;
    font-weight: bold;
    width: 25%;
    font-size: 1rem;
    color: var(--main-text-color);
    text-align: center;
}

#btn-tag2 {
    text-decoration: none;
    font-weight: bold;
    width: 25%;
    font-size: 1rem;
    color: var(--main-text-color);
    text-align: center;
}

#btn-tag1:hover {
    border-bottom: 2px solid var(--main-text-color);

}

#btn-tag2:hover {
    border-bottom: 2px solid var(--main-text-color);

}


button {
    font-size: 1rem;
    padding: 0.8em 2em;
    background-color: #151B21;
    border: 3px solid var(--aux);
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px var(--aux);
}

button:hover {
    transform: translate(5px, -5px);
}

#btn-project ion-icon {
    font-size: 1.2rem;
    max-width: 1.2rem;
}

#btn-project:hover {
    background-color: transparent;
}

#skill-section-title {
    border-top: 1px solid var(--border-color);
    padding-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 2rem;
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}


.bandeiras {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 3rem;
}

.skills-box {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 2.5rem;
}

.skills-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    padding-left: 0.8rem;
    border-left: 5px solid var(--aux);
}

.skills-box i {
    font-size: 2.5rem;
}

.skills-box img {
    width: 2.5rem;
    height: 2.5rem;
}

.under {
    text-decoration: underline;
}


/* Animação */
.planet {
    margin-top: 3rem;
    display: block;
    width: 125px;
    height: 125px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 50%;
    background: #fcc96b;
    background: #fcc96b;
    background: linear-gradient(180deg,
            #fcc96b 0%,
            #fcc96b 15%,
            #f7ae01 15%,
            #f7ae01 19%,
            #fcc96b 19%,
            #fcc96b 22%,
            #f7ae01 22%,
            #f7ae01 28%,
            #fcc96b 28%,
            #fcc96b 31%,
            #fcc96b 33%,
            #fcc96b 36%,
            #f7ae01 36%,
            #f7ae01 48%,
            #fcc96b 48%,
            #fcc96b 55%,
            #f7ae01 55%,
            #f7ae01 66%,
            #fcc96b 66%,
            #fcc96b 70%,
            #f7ae01 70%,
            #f7ae01 73%,
            #fcc96b 73%,
            #fcc96b 82%,
            #f7ae01 82%,
            #c7ba9d 86%,
            #fcc96b 86%);
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
        inset 8px -4px 6px rgba(199, 128, 0, 0.5),
        inset -8px 4px 8px rgba(255, 235, 199, 0.5), inset 20px -5px 12px #f7ae01,
        0 0 100px #ffffff59;
    transform: rotateZ(-15deg);
}

.planet::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 16px solid #e1a519;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #c18620;
    animation: rings1 0.8s infinite linear;
}

.planet::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 8px solid #d48b0c;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #b99309;
    animation: rings2 0.8s infinite linear;
}

#projects {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 35vh;
}

#certifications {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 35vh;
}

@keyframes rings1 {
    0% {
        transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
    }

    100% {
        transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
    }
}

@keyframes rings2 {
    0% {
        transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
    }

    100% {
        transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
    }
}

/* Animação */
/* Mobile */

@media(max-width: 740px) {

    #container {
        flex-direction: column;
    }

    #bio-container {
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }

    #bio-container p {
        max-width: 60%;
        margin: 10px auto;
    }

    #about-container {
        text-align: center;
        padding: 1.8rem;
    }

    #about-container .description {
        margin: 10px auto;
        max-width: 100%;
        line-height: 1.6rem;
    }

    #btn-project {
        margin: 20px auto;
    }

    .skills-box {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 2.5rem;
        text-align: left;
    }

    .skills-box i {
        font-size: 3.75rem;
    }

    .skills-box img {
        width: 3.75rem;
        height: 3.75rem;
    }

    #name {
        font-size: 2.6rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
}

.card {
    width: 340px;
    height: 150px;
    background: whitesmoke;
    transition: .2s linear;
    box-shadow: 1px 1px 10px lightslategray;
    cursor: default;
    border-radius: 1rem;
    margin: 12px;
}

.card-top-part {
    width: 100%;
    height: 70%;
    padding: 15px;
    display: flex;
}

.left-part {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-part {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.name {
    font-size: 24px;
    color: #222;
}

.role {
    font-size: 10px;
    color: lightcyan;
    font-weight: bold;
    text-transform: lowercase;
    background-color: #26cd4d;
    padding: 4px 10px;
    border-radius: 15px;
}

.position {
    color: grey;
    max-width: 200px;
    margin-right: 3rem;
    text-align: start;
}

.card-bottom-part {
    width: 100%;
    height: 30%;
    display: flex;
    border: 1px solid rgb(231, 227, 227);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.user-photo {
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.bottom-part {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-part:hover>.link {
    transform: scale(1.1);
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 5.5px;
    font-weight: bold;
    transition: .2s linear;
}

.icon {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-part:first-child {
    border-right: 1px solid rgb(231, 227, 227);
}

.bottom-part a {
    text-decoration: none;
    color: #222;
}

a {
    text-decoration: none;
}

#btn1 {
    margin: 0.5rem;
}

#btn2 {
    margin: 0.5rem;
}

#btn3 {
    margin: 0.5rem;
}

/* this card is inspired form this - https://georgefrancis.dev/ */

.cardCertify {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
    width: 210px;
    font-family: "Arial";
    padding: 1rem;
    cursor: default;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
    margin: 0.5rem;
}

.imgCertify {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 10px;
    right: 4px;
}

.cardCertify>*+* {
    margin-top: 1.1em;
}

.cardCertify .cardCertify__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
    cursor: default;
}

.cardCertify .cardCertify__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: #222;
    margin-top: 0px;
    cursor: pointer;
}

.cardCertify .cardCertify__date {
    color: #6e6b80;
    font-size: 0.8rem;
    cursor: default;
}

.cardCertify .cardCertify__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cardCertify svg {
    transition: 0.2s;
}

/* hover */
.cardCertify:hover .cardCertify__title {
    color: var(--primary-color);
    text-decoration: underline;
}

.cardCertify:hover .cardCertify__arrow {
    background: #111;
}

.cardCertify:hover .cardCertify__arrow svg {
    transform: translateX(3px);
}